@font-face {
   font-family: 'MADE-Outer-Sans-Light-PERSONAL-USE';
   font-display: swap;
   src: url('file:///C:/Users/Paulo/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-05_193229/fonts/MADE-Outer-Sans-Light-PERSONAL-USE/font.ttf');
}
